body {
}

.update-btn {
    background-color: white;
    color: black;
    font-size: small;
}

.table-wrapper {
    padding: 10px;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

td {
    padding-left: 50px;
    padding-right: 50px;
}

    td p {
        font-size: larger;
    }

    td input {
        text-align: center;
    }

.table thead th, .table tbody td {
    padding: 4px;
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.k-grid .k-grid-header th .k-cell-inner,
.k-grid .k-grid-header th .k-cell-inner > .k-link {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
