body {
}

.table-wrapper {
    padding: 10px;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

td {
    /*padding-left: 50px;
    padding-right: 50px;*/
}

    td input {
        text-align: center;
    }

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-60 {
    padding-right: 60px;
}

.larger {
    font-size: larger;
}

.table thead th, .table tbody td {
    padding: 4px;
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.k-grid .k-grid-header th .k-cell-inner,
.k-grid .k-grid-header th .k-cell-inner > .k-link {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.k-window {
    max-width: 500px;
}

.k-dialog-titlebar {
    background-color: #ffffff;
    padding: 0;
    border: 0;
}

.k-button .k-i-close {
    color: black;
}

.k-window-content {
    white-space: pre-line;
    font-family: "Courier New", monospace;
}

.k-window ::selection {
    background-color: #007bff;
}
