@page "/"
@inject NavigationManager NavigationManager
@inject IDbService _db;

<div class="login-wrapper">
    @if (loading)
    {
        <div class="loading-icon">
            <span class="spinner-border spinner-border-sm mr-1"></span>
        </div>
    }
    @if (!String.IsNullOrEmpty(AlertMessage))
    {
        <div class="alert alert-danger" role="alert">
            @AlertMessage
        </div>
    }
</div>

@code
{
    @using Npgsql

    private bool loading;
    private string AlertMessage;

    protected override async Task OnInitializedAsync()
    {
        AlertMessage = "";
        loading = true;

        try
        {
            var access = await _db.CheckDbAccess();
            if (access)
            {
                NavigationManager.NavigateTo("eop");
            }
            else
            {
                AlertMessage = "Error. Try again.";
            }
        }
        catch (NpgsqlException ex)
        {
            AlertMessage = ex.Message;
        }
        catch (InvalidOperationException ex)
        {
            AlertMessage = ex.Message;
        }
        loading = false;
        StateHasChanged();
    }


    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //}

}