# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Test app.iml
# Datasource local storage ignored files
/../../../../../../../:\dev\test-app\Test app\.idea\.idea.Test app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
